.hide-block {
  display: none !important;
}
.hide-block.visible {
  display: block !important;
}
.hide-block.inline-block.visible {
  display: inline-block !important;
}
@media (max-width: 640px) {
  .panel-wr .inline-block.visible {
    display: block !important;
  }
}
.show-block {
  display: block !important;
}
.show-block.hidden {
  display: none !important;
}
html {
  height: 100%;
  font-size: 100%;
}
body {
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1 {
  font-weight: 300;
  margin: 0 0 20px;
}
h1,
.h1 {
  font-size: 2.5rem;
  line-height: 1.2em;
}
h2 {
  font-size: 2.25rem;
  line-height: 1.2em;
}
h3 {
  font-size: 2rem;
  line-height: 1.2em;
}
h4 {
  font-size: 1.625rem;
  line-height: 1.2em;
}
h5 {
  font-size: 1.375rem;
  line-height: 1.2em;
}
h6 {
  font-size: 1rem;
  line-height: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
}
.line,
.clr {
  clear: both;
}
.line:after,
.clr:after {
  display: block;
  content: "";
  clear: both;
}
.wrapper {
  overflow: hidden;
}
.centered-wrapper {
  z-index: 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.centered-wr {
  display: table;
  height: 100%;
  width: 100%;
  text-align: center;
}
.centered-container {
  display: table-cell;
  vertical-align: middle;
}
.centered-container .inner-content {
  display: inline-block;
  text-align: left;
}
#app_ver {
  position: absolute;
  right: 20px;
  bottom: 20px;
  opacity: 0.5;
}
.logo {
  z-index: 1;
  position: absolute;
  top: 20px;
  left: 20px;
  display: inline-block;
  background: url("../img/logo.png");
  width: 220px;
  height: 60px;
}
#language,
#themePanel {
  z-index: 1;
  position: absolute;
  top: 35px;
  right: 30px;
}
#themePanel {
  top: 70px;
}
@media (max-width: 480px) {
  #language,
  #themePanel {
    width: 120px;
    top: 60px;
    right: 10px;
  }
  #language .k-dropdown,
  #themePanel .k-dropdown,
  #language select,
  #themePanel select {
    width: 120px;
  }
  #themePanel {
    top: 95px;
  }
  .logo {
    left: 10px;
    top: 0;
  }
}
@media (max-height: 420px) {
  #language,
  #themePanel {
    width: 120px;
    top: 10px;
    right: 10px;
  }
  #language .k-dropdown,
  #themePanel .k-dropdown,
  #language select,
  #themePanel select {
    width: 120px;
  }
  #themePanel {
    top: 50px;
  }
  .logo {
    left: 10px;
    top: -5px;
  }
  .centered-wr.login-wrapper {
    padding-top: 97px;
  }
  .centered-wr .login-wr h1 {
    margin: 0 0 5px;
  }
  .centered-wr .login-wr .row {
    margin: 0 0 10px;
  }
}
.login-wr {
  width: 300px;
}
.login-wr input {
  display: block;
  width: 100%;
}
.login-wr .row {
  margin: 0 0 25px;
}
.login-wr .btn-row {
  position: relative;
  margin-top: 40px;
  text-align: right;
}
.login-wr .btn-row .error {
  position: absolute;
  top: -40px;
  left: 0;
  margin: 0;
}
.login-wr #loginBtn {
  cursor: pointer;
}
form .row {
  margin: 0 0 15px;
}
form .row .error {
  display: block;
  margin: 5px 0;
  color: #f00;
}
form .row .error > * {
  display: none;
  margin: 0;
}
form input {
  line-height: 1.4rem;
}
/*padding: 108px 20px 123px;*/
.page-content {
  overflow: auto;
  padding: 118px 20px 123px 82px;
}
@media (max-width: 640px) {
  .page-content {
    padding: 70px 20px 60px;
  }
}
.top-panel {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 30px 40px 30px 82px;
}
.top-panel h1 {
  margin: 0;
}
.top-panel .k-button {
  min-width: 0;
  /*border: none;*/
  position: absolute;
  left: 10px;
  top: 37px;
}
.top-panel .k-button .k-icon {
  margin-right: 0;
}
.top-panel .production-time {
  float: right;
  margin: 0 0 0 10px;
}
.top-panel.hub-top-panel {
  padding-left: 20px;
  border-bottom: none;
}
.top-panel.hub-top-panel .k-button {
  left: auto;
  right: 20px;
}
.bottom-panel {
  position: fixed;
  z-index: 11;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  /*overflow: hidden;*/
}
.bottom-panel .left-side > * {
  display: inline-block;
}
.bottom-panel .right-side {
  float: right;
}
.bottom-panel .right-side > * {
  display: inline-block;
}
.bottom-panel .k-button {
  white-space: nowrap;
  margin: 0 10px;
  min-width: 0;
  /*    border: none;*/
  text-align: center;
}
.bottom-panel .k-button [class^='icon-'] {
  display: block;
  margin: 6px auto;
}
.bottom-panel .k-button:first-child {
  margin-left: 0;
}
.bottom-panel .k-button:last-child {
  margin-right: 0;
}
.bottom-panel .sep {
  width: 1px;
  margin: 0 20px;
}
.bottom-panel .sep:before {
  display: block;
  position: absolute;
  content: "";
  top: 0px;
  bottom: 0px;
}
.bottom-panel .search-form {
  display: block;
  /*display: inline-block;*/
  overflow: hidden;
}
.bottom-panel .search-form .search-input {
  width: 250px;
  padding: 5px 10px;
  margin: 0;
  height: 38px;
  border-radius: 3px;
}
.bottom-panel .search-form .k-icon {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
  opacity: 1;
}
.bottom-panel .panel-menu {
  float: none;
}
.bottom-panel .panel-wr {
  width: auto;
}
.bottom-panel .k-rpanel-toggle {
  margin: 0 20px 0 0;
  float: left;
}
.panel-menu.k-rpanel-left,
.panel-menu.k-rpanel-right {
  min-width: 0;
}
@media (max-width: 1024px) {
  .bottom-panel .panel-menu {
    overflow: visible;
    z-index: 11;
    top: auto;
    bottom: 75px;
    height: auto;
    width: 320px;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .bottom-panel .panel-menu:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: -1px;
    bottom: 0;
    top: -2222px;
    z-index: 10;
  }
  .bottom-panel .panel-menu .panel-wr {
    position: relative;
    z-index: 11;
  }
  .bottom-panel .panel-menu .k-button {
    display: block;
    width: 100%;
    margin: 10px 0;
    text-align: left;
  }
  .bottom-panel .panel-menu .filter-btn {
    width: 36px;
    margin: 0;
    text-align: center;
  }
  .bottom-panel .panel-menu .sep {
    width: 100%;
    margin: 10px 0;
  }
  .bottom-panel .panel-menu .sep:before {
    display: none;
  }
  .bottom-panel .panel-menu .left-side,
  .bottom-panel .panel-menu .right-side {
    float: none;
  }
  .bottom-panel .panel-menu .search-form {
    display: block;
    position: relative;
    margin: 0 0 10px;
  }
  .bottom-panel .panel-menu .search-form .search-input {
    min-width: 0;
    border-right-width: 1px;
    border-radius: 3px;
  }
}
@media (max-width: 640px) {
  .bottom-panel {
    padding: 5px 10px;
  }
  .bottom-panel .panel-menu {
    bottom: 46px;
  }
}
.mobile-view-panel {
  text-align: right;
  height: 0;
  width: 0;
  overflow: hidden;
}
.mobile-view-panel .left-side {
  text-align: left;
}
@media (max-width: 1024px) {
  .mobile-view-panel {
    height: auto;
    width: auto ;
  }
}
@media (max-width: 480px) {
  .mobile-view-panel .left-side .k-button {
    margin: 0 5px;
  }
  .mobile-view-panel .left-side .k-button:first-child {
    margin-left: 0;
  }
  .mobile-view-panel .left-side .k-button:last-child {
    margin-right: 0;
  }
}
.hub-menu {
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}
.hub-menu li {
  position: relative;
  list-style-type: none;
  float: left;
  margin: 5px;
}
.hub-menu li:nth-child(2n+1) {
  clear: both;
}
.hub-menu a {
  display: block;
  width: 300px;
  height: 100px;
  padding: 9px 17px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
}
.hub-menu .txt {
  font-size: 1.625rem;
}
.hub-menu .val {
  position: absolute;
  right: 17px;
  bottom: 10px;
  font-size: 1.125rem;
}
.hub-menu .val.left-pos {
  right: auto;
  left: 17px;
}
@media (max-width: 768px) {
  .hub-menu li {
    float: none;
    margin: 5px 0px;
  }
  .hub-menu li a {
    margin: 0 auto;
  }
}
@media (max-width: 480px) {
  .hub-menu {
    margin: 0 20px;
  }
  .hub-menu a {
    width: auto;
    height: 66px;
    padding: 5px 10px;
  }
  .hub-menu .txt {
    font-size: 1.4rem;
    display: block;
    padding-right: 20px;
  }
  .hub-menu .val {
    right: 10px;
    bottom: 1px;
  }
  .hub-menu .val.left-pos {
    left: 10px;
    bottom: 1px;
  }
}
@media (max-width: 640px) {
  .top-panel {
    padding: 10px 10px 10px 66px;
  }
  .top-panel .k-button {
    left: 10px;
    top: 10px;
  }
  .top-panel.hub-top-panel {
    position: relative;
    padding-right: 70px;
    padding-left: 10px;
  }
  .top-panel.hub-top-panel .k-button {
    right: 10px;
    left: auto;
  }
  .top-panel.hub-top-panel .k-button .lang-replace {
    display: none;
  }
  .hub-wr {
    position: static;
  }
  .hub-wr .centered-wr,
  .login-wrapper {
    display: block;
    height: auto;
  }
  .hub-wr .centered-wr .centered-container,
  .login-wrapper .centered-container {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .login-wrapper {
    padding-top: 155px;
  }
}
@media (max-width: 480px) {
  .hub-wr .inner-content {
    display: block;
  }
  .top-panel .production-time {
    font-size: 1rem;
    margin: 6px 0 0 5px;
  }
  .top-panel .k-button {
    top: 5px;
  }
}
.info-text {
  padding: 0 40px;
}
.k-input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-style: solid;
  border-width: 1px;
  padding: 5px 10px 6px;
}
.k-button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 100px;
  /*  .k-tool-icon , .k-icon {
    margin-right: 10px;
  }*/
}
.k-button.big {
  padding-left: 30px;
  padding-right: 30px;
}
.k-button.right {
  float: right;
}
.k-button .k-icon,
.k-button .k-tool-icon {
  position: relative;
  top: -2px;
}
.sort-panel {
  font-size: 1.125rem;
}
.sort-panel .sort-item {
  float: left;
  margin: 0 20px 10px 0;
}
.sort-panel .sort-item .k-dropdown {
  font-size: 1.2rem;
}
.sort-panel label {
  font-weight: 300;
  vertical-align: top;
  display: inline-block;
  line-height: 2.2em;
  margin-right: 10px;
  margin-bottom: 0;
}
.k-overlay {
  filter: alpha(opacity=80);
  opacity: .8;
}
.k-window .k-window-content {
  padding: 15px 20px;
}
.k-window .close-btn {
  min-width: 0;
  padding: 0 5px;
  text-align: center;
  position: absolute;
  top: 25px;
  left: 20px;
}
.k-window .close-btn .k-icon {
  margin-right: 0;
}
.k-window .popup-title {
  font-size: 2.5rem;
  line-height: 1.2em;
  padding: 0 0 0 60px;
}
.k-window.dialog-popup {
  box-shadow: none;
  max-width: none !important;
  left: 0 !important;
  right: 0 !important;
}
.k-window.dialog-popup .k-window-content {
  z-index: 10003;
  width: 500px;
  margin: 0 auto;
}
.k-window.dialog-popup .k-window-content p {
  font-size: 1.25rem;
  margin: 0 0 20px;
}
.k-window.dialog-popup:before {
  display: block;
  content: "";
  z-index: 10002;
  top: -1px;
  bottom: -1px;
  left: 0;
  right: 0;
  position: absolute;
  border-style: solid;
  border-width: 1px 0 1px;
  -webkit-box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.1);
}
@media (max-width: 640px) {
  .k-window .k-window-content {
    padding: 10px 15px 10px 10px;
  }
  .k-window .close-btn {
    top: 9px;
    left: 10px;
  }
  .k-window .popup-title {
    font-size: 1.2rem;
    padding-left: 40px;
  }
  .k-window.dialog-popup .k-window-content {
    width: 100%;
  }
  .k-window.dialog-popup .k-window-content p {
    font-size: 1rem;
  }
}
.line {
  margin: 0 0 15px;
}
.line:last-child {
  margin: 0;
}
.line .k-checkbox-label {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.2em;
}
.k-state-default > .k-select {
  line-height: 1.65em;
}
.form-box {
  margin: 0 0 30px;
}
.form-box .line {
  margin-left: 20px;
}
.form-box:last-child {
  margin-bottom: 0;
}
.dialog-btn-line {
  text-align: right;
}
.dialog-btn-line .k-button {
  margin: 0 10px;
}
.dialog-btn-line .k-button:first-child {
  margin-left: 0;
}
.dialog-btn-line .k-button:last-child {
  margin-right: 0;
}
@media (max-width: 640px) {
  .dialog-btn-line {
    text-align: center;
  }
  .dialog-btn-line .k-button {
    display: block;
    margin: 0 auto 10px !important;
    width: 80%;
  }
}
.download-list {
  padding: 0;
}
.download-list li {
  list-style: none;
  margin: 0 0 5px;
}
.download-list li:last-child {
  margin-bottom: 0;
}
.download-list a {
  display: block;
  padding: 3px 20px;
  text-align: center;
  font-size: 1.125rem;
}
.production-save-form .k-input {
  width: 250px;
  margin: 0 20px 0 60px;
}
.produce-form {
  width: 560px;
}
.produce-form .col2 {
  overflow: hidden;
}
.produce-form .col2 .col {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  padding-right: 20px;
  min-width: 174px;
  max-width: 50%;
}
.produce-form .line .k-input {
  display: block;
  width: 350px;
}
.produce-form .line label + .k-input {
  margin: 20px 0 0;
}
.produce-form .email-line .k-input {
  display: block;
  width: 100%;
  max-width: 350px;
  margin: 10px 0 0px;
}
.produce-form .email-line .input-wr {
  position: relative;
  opacity: 0.4;
}
.produce-form .email-line .input-wr:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}
.produce-form .email-line .k-checkbox:checked + label + .input-wr {
  opacity: 1;
}
.produce-form .email-line .k-checkbox:checked + label + .input-wr:before {
  display: none;
}
.produce-form .submit-line .k-input {
  width: 350px;
}
.produce-form .submit-line .k-button {
  width: 150px;
}
.upload-wr {
  overflow: hidden;
  position: relative;
}
.upload-wr input {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 40px;
  opacity: 0.01;
  z-index: 2;
  cursor: pointer;
}
.upload-wr .k-button {
  position: relative;
  display: block;
  width: 100%;
  z-index: 1;
}
.date-wr .k-input {
  height: 28px;
  line-height: 28px;
}
.timespan-form .line label {
  font-size: 1.25rem;
  font-weight: 300;
  float: left;
  width: 80px;
  text-align: right;
  margin-right: 10px;
}
.motif-upload-form {
  width: 560px;
}
.motif-upload-form .img-wr {
  margin: 0 0 20px;
}
.motif-upload-form .img-wr .table-cell {
  height: 260px;
  text-align: center;
}
.motif-upload-form .img-wr p {
  font-size: 2rem;
}
.motif-upload-form .img-wr img {
  display: none;
  width: auto;
  height: 100%;
  margin: 0 auto;
}
.motif-upload-form label {
  font-size: 1.25rem;
  font-weight: 300;
  float: left;
  width: 125px;
  margin-right: 10px;
  text-align: right;
}
.motif-upload-form .input-wr {
  float: left;
  width: 270px;
}
.motif-upload-form .input-wr input,
.motif-upload-form .input-wr textarea {
  width: 100%;
}
.motif-upload-form .k-button {
  width: 145px;
  float: right;
}
.motif-upload-form textarea {
  height: 5em;
}
.table-wr {
  display: table;
  width: 100%;
  border-collapse: collapse;
}
.table-wr .table-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
@media (max-width: 640px) {
  .motif-upload-form {
    width: 100%;
  }
  .motif-upload-form .img-wr .table-cell {
    height: 170px;
  }
  .motif-upload-form .img-wr p {
    font-size: 1.2rem;
  }
  .motif-upload-form label {
    font-size: 1rem;
    text-align: left;
  }
  .motif-upload-form .input-wr {
    float: none;
    width: 100%;
  }
  .motif-upload-form .upload-wr {
    float: none;
    width: 100%;
    margin: 10px 0 0;
  }
  .motif-upload-form .upload-wr .k-button {
    width: 100%;
  }
  .production-save-form .k-input {
    margin: 0 0 20px;
    width: 100%;
  }
  .produce-form {
    width: 290px;
  }
  .produce-form h4 {
    font-size: 1.2rem;
    margin: 0 0 10px;
  }
  .produce-form .line .k-checkbox-label {
    font-size: 1rem;
  }
  .produce-form .submit-line {
    position: relative;
    padding: 0 0 50px;
  }
  .produce-form .submit-line .k-input {
    width: 100%;
  }
  .produce-form .submit-line .k-button {
    position: absolute;
    right: 0px;
    bottom: 0px;
  }
  .timespan-form .line label {
    font-size: 1rem;
  }
  .timespan-form .presets-line {
    margin-left: 0;
  }
  .timespan-form .presets-line .k-button {
    min-width: 95px;
    margin: 0 0 5px;
  }
  .chart-line h5 {
    font-size: 1.2rem;
  }
}
.items-list {
  border: none !important;
  box-shadow: none !important;
}
.list-item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  float: left;
  padding: 3px;
  width: 320px;
  /*height: 228px;*/
}
.list-item .item-wr {
  position: relative;
}
.list-item .active-icon {
  display: none;
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  right: 0;
  border-width: 20px;
  border-style: solid;
  border-color: transparent;
  -moz-transform: scale(0.9999);
  z-index: 3;
}
.list-item .active-icon .svg-icon {
  display: block;
  position: absolute;
  top: -15px;
  right: -16px;
  width: 15px;
  height: 15px;
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxOS4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9IjAgMCAxNSAxNSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMTUgMTU7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+DQoJLnN0MHtmaWxsOiNGRkZGRkY7fQ0KPC9zdHlsZT4NCjxwb2x5Z29uIGlkPSJzZWxlY3RfeDVGX2NoZWNrZXIiIGNsYXNzPSJzdDAiIHBvaW50cz0iMTQuOCwyLjEgMTIuNiwwLjYgNi42LDkuNiAyLjEsNSAwLjIsNi45IDYuOCwxMy42ICIvPg0KPC9zdmc+DQo=");
}
.list-item .video-wr,
.list-item .img-wr {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}
.list-item .video-wr .img,
.list-item .img-wr .img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: contain !important;
}
.list-item .video-wr .wr,
.list-item .img-wr .wr {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.list-item .video-wr video,
.list-item .img-wr video,
.list-item .video-wr object,
.list-item .img-wr object {
  display: block;
  width: 100% !important;
  height: 100% !important;
  margin: 0 auto;
  z-index: 1;
}
.list-item .html5lightbox-link,
.list-item .clip-img {
  display: block;
}
.list-item .html5lightbox-link img,
.list-item .clip-img img {
  display: block;
  width: 100%;
  height: auto;
}
.list-item .no-video {
  display: block;
  width: 100%;
  padding-bottom: 56.25%;
  background: rgba(100, 100, 100, 0.3);
}
.list-item .item-info .html5lightbox-link {
  display: inline-block;
}
.list-item p {
  margin: 0;
}
.list-item .item-info {
  overflow: hidden;
  font-size: 1rem;
  height: 75px;
  padding: 10px 5px 0;
}
.list-item .item-name {
  margin: 0 0 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.list-item .fll {
  float: left;
}
.list-item .val-wr {
  float: right;
  margin-left: 10px;
  text-align: right;
}
.list-item .motifs-val {
  font-size: 1rem;
}
.list-item.motif-item .val-wr {
  float: none;
  margin: 0;
  text-align: left;
}
.list-item.clip-item .item-info {
  height: 30px;
  padding: 6px 14px;
  line-height: 30px;
  font-size: 1.0625rem;
}
.list-item.clip-item .item-name {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  line-height: 32px;
  height: 32px;
  padding: 0 10px;
  font-size: 1.0625rem;
}
.list-item.k-state-selected {
  background: none;
}
.list-item.k-state-selected .active-icon {
  display: block;
}
.list-item .video-popup-btn {
  vertical-align: middle;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 16px;
  border-color: transparent;
  margin-top: -1px;
  margin-right: -6px;
  opacity: 0.8;
  -moz-transform: scale(0.9999);
}
.list-item .video-popup-btn:hover {
  opacity: 1;
}
@media (max-width: 1280px) {
  #films-list .list-item .item-info {
    font-size: 0.9rem;
  }
}
.clip-motifs-list {
  border: none;
  margin: 10px 0px;
  height: 195px;
  white-space: nowrap;
  overflow: auto;
}
.clip-motifs-list .motif-select-item {
  vertical-align: top;
  display: inline-block;
  position: relative;
  /*float: left;*/
  margin: 3px 3px 3px 20px;
  height: 170px;
  cursor: pointer;
}
.clip-motifs-list .motif-select-item:first-child {
  margin-left: 3px;
}
.clip-motifs-list .motif-select-item img {
  display: block;
  height: 100%;
  width: 100%;
}
.clip-motifs-list .motif-select-item .empty-img-name {
  height: 100%;
  line-height: 170px;
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
}
.clip-motifs-list .motif-select-item .empty-img-name span {
  display: inline-block;
  position: relative;
  font-size: 14px;
  line-height: 18px;
  top: -3px;
}
.k-webkit .k-picker-wrap:before {
  height: auto;
}
.search-form .filter-btn {
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 36px;
  vertical-align: middle;
  width: 36px;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  border: none;
  background: none;
  margin: 0;
}
.search-form .filter-btn:hover,
.search-form .filter-btn:focus,
.search-form .filter-btn.k-state-focused {
  border: none;
  background: none;
  box-shadow: none !important;
}
.search-form .filter-btn span {
  vertical-align: middle;
  margin: 0;
}
.search-form .filter-btn.clear-btn {
  position: absolute;
  top: 0;
  left: 213px;
  font-size: 22px;
  font-weight: bold;
  line-height: 27px;
}
@media (max-width: 1368px) {
  .list-item {
    width: 25%;
  }
}
@media (max-width: 1180px) {
  .list-item {
    width: 33%;
  }
}
@media (max-width: 920px) {
  .list-item {
    width: 50%;
  }
}
@media (max-width: 600px) {
  .list-item {
    width: 100%;
  }
}
@media (max-width: 768px) {
  h1,
  .h1 {
    font-size: 2rem;
  }
}
@media (max-width: 480px) {
  h1,
  .h1 {
    font-size: 1.5rem;
  }
}
.clips-timeline {
  position: relative;
  font-size: 0;
  white-space: nowrap;
  overflow: auto;
  height: 230px;
  padding: 20px 4px;
  margin-right: 120px;
}
.clips-timeline > .wr {
  position: relative;
  min-width: 100%;
  height: 100%;
}
.clips-timeline .items-list {
  background: none;
  position: relative;
  z-index: 2;
  display: inline-block;
}
.clips-timeline .items-list .list-item {
  float: none;
  display: inline-block;
  vertical-align: top;
  font-size: 1rem;
  width: 250px;
  padding: 0;
  margin: 3px;
}
.timeline-add-clip {
  display: block;
  float: right;
  width: 115px;
  line-height: 100%;
  height: 230px;
  font-size: 50px;
  z-index: 1;
  text-align: center;
  box-sizing: border-box;
  padding: 0 20px;
  background: none;
}
.timeline-add-clip:focus {
  border: none !important;
}
@media (max-width: 480px) {
  .clips-timeline {
    margin-right: 0;
  }
  .timeline-add-clip {
    display: none;
  }
}
.chart-line:nth-child(2n) {
  margin: 0 0 30px;
}
.chart-line:last-child {
  margin-bottom: 0;
}
.chart-line .chart-wr {
  margin-left: 240px;
}
.chart-line .chart-wr .totals {
  margin: 10px 0 0;
}
.chart-line .chart-table {
  max-height: 314px;
  overflow: auto;
}
.chart-line .chart-table table {
  width: 100%;
}
.chart-line .chart-table-wr {
  width: 220px;
  float: left;
}
#statistic-page .google-visualization-table-th,
#statistic-page .google-visualization-table-td {
  padding: 4px;
}
@media (max-width: 800px) {
  .chart-line .chart-wr {
    margin-left: 0px;
  }
  .chart-line .chart-table-wr {
    margin: 0 0 15px;
    width: auto;
    float: none;
  }
}
/*
 theming css fixes
*/
.k-textbox > input,
.k-autocomplete .k-input,
.k-picker-wrap .k-input,
.k-numeric-wrap .k-input,
.k-selectbox .k-input {
  line-height: 1.586em;
}
.sort-panel .k-dropdown-wrap .k-input {
  line-height: 1.786em;
}
.check-wr {
  margin: 0 0 10px;
}
.k-multiselect {
  display: inline-block;
  min-width: 160px;
}
/*------------------------*/
/*
@widget-text-color: #333333;
@main-theme-color: #ff5a00;
@main-theme-color-hover: darken(@main-theme-color, 6%);
@widget-background-color: #ffffff;
@widget-border-color: #ccc;
*/
body.theme-bootstrap {
  /*  .list-item {
    .active-icon svg {
      fill: @widget-background-color;
    }
  }*/
}
body.theme-bootstrapbody {
  background: #ffffff;
}
body.theme-bootstrap a {
  color: #ff5a00;
}
body.theme-bootstrap a:hover {
  color: #ff5a00;
}
body.theme-bootstrap .top-panel {
  /*border-bottom: 1px solid @widget-border-color;*/
  background: #ffffff;
}
body.theme-bootstrap .bottom-panel {
  /*border-top: 1px solid @widget-border-color;*/
  background: #ffffff;
}
body.theme-bootstrap .bottom-panel .sep:before {
  border-left: 1px solid #cccccc;
}
@media (max-width: 1024px) {
  body.theme-bootstrap .bottom-panel .panel-menu {
    background: #ffffff;
    border-right: 1px solid #cccccc;
  }
  body.theme-bootstrap .bottom-panel .panel-menu:before {
    background: #ffffff;
    border-right: 1px solid #cccccc;
  }
  body.theme-bootstrap .bottom-panel .panel-menu .sep {
    border-top: 1px solid #cccccc;
  }
}
body.theme-bootstrap .hub-menu a {
  background: #ff5a00;
  color: #ffffff;
}
body.theme-bootstrap .hub-menu a:hover {
  background: #e04f00;
}
body.theme-bootstrap .k-window.dialog-popup:before {
  border-color: #cccccc;
  background-color: #ffffff;
}
body.theme-bootstrap .download-list a {
  background: #cccccc;
  color: #333333;
}
body.theme-bootstrap .download-list a:hover,
body.theme-bootstrap .download-list a:active {
  background: #999999;
}
body.theme-bootstrap .list-item .item-wr {
  border: 2px solid #f7f7f7;
  background: #f7f7f7;
}
body.theme-bootstrap .list-item .active-icon {
  border-color: #ff5a00 #ff5a00 transparent transparent;
  /*
      svg {
        fill: @widget-text-color;
      }
*/
}
body.theme-bootstrap .list-item:hover .item-wr,
body.theme-bootstrap .list-item.k-state-selected .item-wr {
  border-color: #ff5a00;
  color: #333333;
}
body.theme-bootstrap .list-item:hover .item-wr .item-motifs,
body.theme-bootstrap .list-item.k-state-selected .item-wr .item-motifs {
  color: #ff5a00;
}
body.theme-bootstrap .list-item .video-popup-btn {
  border-left-color: #333333;
}
body.theme-bootstrap .list-item .item-name {
  background: rgba(255, 255, 255, 0.9);
}
body.theme-bootstrap #motifs-list .item-name {
  background: none;
}
body.theme-bootstrap .clips-timeline {
  background: #f5f5f5;
}
body.theme-bootstrap #statistic-page .google-visualization-table-th,
body.theme-bootstrap #statistic-page .google-visualization-table-td {
  background: #ffffff;
  border: 2px solid #cccccc;
  color: #333333;
  text-align: left;
}
body.theme-bootstrap #statistic-page .google-visualization-table-th:first-child,
body.theme-bootstrap #statistic-page .google-visualization-table-td:first-child {
  border-left: none;
}
body.theme-bootstrap #statistic-page .google-visualization-table-th:last-child,
body.theme-bootstrap #statistic-page .google-visualization-table-td:last-child {
  border-right: none;
}
body.theme-bootstrap #statistic-page .google-visualization-table-th {
  border-top: none;
}
body.theme-bootstrap #statistic-page tr:last-child td {
  border-bottom: none;
}
body.theme-bootstrap .search-form .clear-btn {
  color: #333333;
}
body.theme-bootstrap input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
  -webkit-text-fill-color: #333333 !important;
}
body.theme-bootstrap .clip-motifs-list .motif-select-item .empty-img-name {
  background: #6e6e6e;
  color: #ffffff;
}
body.theme-blueopal {
  /*  .list-item {
    .active-icon svg {
      fill: @widget-background-color;
    }
  }*/
}
body.theme-blueopalbody {
  background: #ffffff;
}
body.theme-blueopal a {
  color: #7bd2f6;
}
body.theme-blueopal a:hover {
  color: #7bd2f6;
}
body.theme-blueopal .top-panel {
  /*border-bottom: 1px solid @widget-border-color;*/
  background: #ffffff;
}
body.theme-blueopal .bottom-panel {
  /*border-top: 1px solid @widget-border-color;*/
  background: #ffffff;
}
body.theme-blueopal .bottom-panel .sep:before {
  border-left: 1px solid #94c0d2;
}
@media (max-width: 1024px) {
  body.theme-blueopal .bottom-panel .panel-menu {
    background: #ffffff;
    border-right: 1px solid #94c0d2;
  }
  body.theme-blueopal .bottom-panel .panel-menu:before {
    background: #ffffff;
    border-right: 1px solid #94c0d2;
  }
  body.theme-blueopal .bottom-panel .panel-menu .sep {
    border-top: 1px solid #94c0d2;
  }
}
body.theme-blueopal .hub-menu a {
  background: #7bd2f6;
  color: #ffffff;
}
body.theme-blueopal .hub-menu a:hover {
  background: #5ec8f4;
}
body.theme-blueopal .k-window.dialog-popup:before {
  border-color: #94c0d2;
  background-color: #ffffff;
}
body.theme-blueopal .download-list a {
  background: #94c0d2;
  color: #003f59;
}
body.theme-blueopal .download-list a:hover,
body.theme-blueopal .download-list a:active {
  background: #4c96b4;
}
body.theme-blueopal .list-item .item-wr {
  border: 2px solid #f7f7f7;
  background: #f7f7f7;
}
body.theme-blueopal .list-item .active-icon {
  border-color: #7bd2f6 #7bd2f6 transparent transparent;
  /*
      svg {
        fill: @widget-text-color;
      }
*/
}
body.theme-blueopal .list-item:hover .item-wr,
body.theme-blueopal .list-item.k-state-selected .item-wr {
  border-color: #7bd2f6;
  color: #003f59;
}
body.theme-blueopal .list-item:hover .item-wr .item-motifs,
body.theme-blueopal .list-item.k-state-selected .item-wr .item-motifs {
  color: #7bd2f6;
}
body.theme-blueopal .list-item .video-popup-btn {
  border-left-color: #003f59;
}
body.theme-blueopal .list-item .item-name {
  background: rgba(255, 255, 255, 0.9);
}
body.theme-blueopal #motifs-list .item-name {
  background: none;
}
body.theme-blueopal .clips-timeline {
  background: #f5f5f5;
}
body.theme-blueopal #statistic-page .google-visualization-table-th,
body.theme-blueopal #statistic-page .google-visualization-table-td {
  background: #ffffff;
  border: 2px solid #94c0d2;
  color: #003f59;
  text-align: left;
}
body.theme-blueopal #statistic-page .google-visualization-table-th:first-child,
body.theme-blueopal #statistic-page .google-visualization-table-td:first-child {
  border-left: none;
}
body.theme-blueopal #statistic-page .google-visualization-table-th:last-child,
body.theme-blueopal #statistic-page .google-visualization-table-td:last-child {
  border-right: none;
}
body.theme-blueopal #statistic-page .google-visualization-table-th {
  border-top: none;
}
body.theme-blueopal #statistic-page tr:last-child td {
  border-bottom: none;
}
body.theme-blueopal .search-form .clear-btn {
  color: #003f59;
}
body.theme-blueopal input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
  -webkit-text-fill-color: #003f59 !important;
}
body.theme-blueopal .clip-motifs-list .motif-select-item .empty-img-name {
  background: #0092ce;
  color: #ffffff;
}
body.theme-silver {
  /*  .list-item {
    .active-icon svg {
      fill: @widget-background-color;
    }
  }*/
}
body.theme-silverbody {
  background: #ffffff;
}
body.theme-silver a {
  color: #1984c8;
}
body.theme-silver a:hover {
  color: #1984c8;
}
body.theme-silver .top-panel {
  /*border-bottom: 1px solid @widget-border-color;*/
  background: #ffffff;
}
body.theme-silver .bottom-panel {
  /*border-top: 1px solid @widget-border-color;*/
  background: #ffffff;
}
body.theme-silver .bottom-panel .sep:before {
  border-left: 1px solid #dbdbde;
}
@media (max-width: 1024px) {
  body.theme-silver .bottom-panel .panel-menu {
    background: #ffffff;
    border-right: 1px solid #dbdbde;
  }
  body.theme-silver .bottom-panel .panel-menu:before {
    background: #ffffff;
    border-right: 1px solid #dbdbde;
  }
  body.theme-silver .bottom-panel .panel-menu .sep {
    border-top: 1px solid #dbdbde;
  }
}
body.theme-silver .hub-menu a {
  background: #1984c8;
  color: #ffffff;
}
body.theme-silver .hub-menu a:hover {
  background: #1672ad;
}
body.theme-silver .k-window.dialog-popup:before {
  border-color: #dbdbde;
  background-color: #ffffff;
}
body.theme-silver .download-list a {
  background: #dbdbde;
  color: #515967;
}
body.theme-silver .download-list a:hover,
body.theme-silver .download-list a:active {
  background: #a6a6ad;
}
body.theme-silver .list-item .item-wr {
  border: 2px solid #f7f7f7;
  background: #f7f7f7;
}
body.theme-silver .list-item .active-icon {
  border-color: #1984c8 #1984c8 transparent transparent;
  /*
      svg {
        fill: @widget-text-color;
      }
*/
}
body.theme-silver .list-item:hover .item-wr,
body.theme-silver .list-item.k-state-selected .item-wr {
  border-color: #1984c8;
  color: #515967;
}
body.theme-silver .list-item:hover .item-wr .item-motifs,
body.theme-silver .list-item.k-state-selected .item-wr .item-motifs {
  color: #1984c8;
}
body.theme-silver .list-item .video-popup-btn {
  border-left-color: #515967;
}
body.theme-silver .list-item .item-name {
  background: rgba(255, 255, 255, 0.9);
}
body.theme-silver #motifs-list .item-name {
  background: none;
}
body.theme-silver .clips-timeline {
  background: #f5f5f5;
}
body.theme-silver #statistic-page .google-visualization-table-th,
body.theme-silver #statistic-page .google-visualization-table-td {
  background: #ffffff;
  border: 2px solid #dbdbde;
  color: #515967;
  text-align: left;
}
body.theme-silver #statistic-page .google-visualization-table-th:first-child,
body.theme-silver #statistic-page .google-visualization-table-td:first-child {
  border-left: none;
}
body.theme-silver #statistic-page .google-visualization-table-th:last-child,
body.theme-silver #statistic-page .google-visualization-table-td:last-child {
  border-right: none;
}
body.theme-silver #statistic-page .google-visualization-table-th {
  border-top: none;
}
body.theme-silver #statistic-page tr:last-child td {
  border-bottom: none;
}
body.theme-silver .search-form .clear-btn {
  color: #515967;
}
body.theme-silver input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
  -webkit-text-fill-color: #515967 !important;
}
body.theme-silver .clip-motifs-list .motif-select-item .empty-img-name {
  background: #8a93a3;
  color: #ffffff;
}
body.theme-uniformbody {
  background: #ffffff;
}
body.theme-uniform a {
  color: #dfdfdf;
}
body.theme-uniform a:hover {
  color: #dfdfdf;
}
body.theme-uniform .top-panel {
  /*border-bottom: 1px solid @widget-border-color;*/
  background: #ffffff;
}
body.theme-uniform .bottom-panel {
  /*border-top: 1px solid @widget-border-color;*/
  background: #ffffff;
}
body.theme-uniform .bottom-panel .sep:before {
  border-left: 1px solid #cccccc;
}
@media (max-width: 1024px) {
  body.theme-uniform .bottom-panel .panel-menu {
    background: #ffffff;
    border-right: 1px solid #cccccc;
  }
  body.theme-uniform .bottom-panel .panel-menu:before {
    background: #ffffff;
    border-right: 1px solid #cccccc;
  }
  body.theme-uniform .bottom-panel .panel-menu .sep {
    border-top: 1px solid #cccccc;
  }
}
body.theme-uniform .hub-menu a {
  background: #dfdfdf;
  color: #ffffff;
}
body.theme-uniform .hub-menu a:hover {
  background: #d0d0d0;
}
body.theme-uniform .k-window.dialog-popup:before {
  border-color: #cccccc;
  background-color: #ffffff;
}
body.theme-uniform .download-list a {
  background: #cccccc;
  color: #676767;
}
body.theme-uniform .download-list a:hover,
body.theme-uniform .download-list a:active {
  background: #999999;
}
body.theme-uniform .list-item .item-wr {
  border: 2px solid #f7f7f7;
  background: #f7f7f7;
}
body.theme-uniform .list-item .active-icon {
  border-color: #dfdfdf #dfdfdf transparent transparent;
  /*
      svg {
        fill: @widget-text-color;
      }
*/
}
body.theme-uniform .list-item:hover .item-wr,
body.theme-uniform .list-item.k-state-selected .item-wr {
  border-color: #dfdfdf;
  color: #676767;
}
body.theme-uniform .list-item:hover .item-wr .item-motifs,
body.theme-uniform .list-item.k-state-selected .item-wr .item-motifs {
  color: #dfdfdf;
}
body.theme-uniform .list-item .video-popup-btn {
  border-left-color: #676767;
}
body.theme-uniform .list-item .item-name {
  background: rgba(255, 255, 255, 0.9);
}
body.theme-uniform #motifs-list .item-name {
  background: none;
}
body.theme-uniform .clips-timeline {
  background: #f5f5f5;
}
body.theme-uniform #statistic-page .google-visualization-table-th,
body.theme-uniform #statistic-page .google-visualization-table-td {
  background: #ffffff;
  border: 2px solid #cccccc;
  color: #676767;
  text-align: left;
}
body.theme-uniform #statistic-page .google-visualization-table-th:first-child,
body.theme-uniform #statistic-page .google-visualization-table-td:first-child {
  border-left: none;
}
body.theme-uniform #statistic-page .google-visualization-table-th:last-child,
body.theme-uniform #statistic-page .google-visualization-table-td:last-child {
  border-right: none;
}
body.theme-uniform #statistic-page .google-visualization-table-th {
  border-top: none;
}
body.theme-uniform #statistic-page tr:last-child td {
  border-bottom: none;
}
body.theme-uniform .search-form .clear-btn {
  color: #676767;
}
body.theme-uniform input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
  -webkit-text-fill-color: #676767 !important;
}
body.theme-uniform .hub-menu a {
  color: #676767;
}
body.theme-uniform .clip-motifs-list .motif-select-item .empty-img-name {
  background: #a2a2a2;
  color: #ffffff;
}
body.theme-metro {
  /*  .list-item {
    .active-icon svg {
      fill: @widget-background-color;
    }
  }*/
}
body.theme-metrobody {
  background: #ffffff;
}
body.theme-metro a {
  color: #7ea700;
}
body.theme-metro a:hover {
  color: #7ea700;
}
body.theme-metro .top-panel {
  /*border-bottom: 1px solid @widget-border-color;*/
  background: #ffffff;
}
body.theme-metro .bottom-panel {
  /*border-top: 1px solid @widget-border-color;*/
  background: #ffffff;
}
body.theme-metro .bottom-panel .sep:before {
  border-left: 1px solid #dadada;
}
@media (max-width: 1024px) {
  body.theme-metro .bottom-panel .panel-menu {
    background: #ffffff;
    border-right: 1px solid #dadada;
  }
  body.theme-metro .bottom-panel .panel-menu:before {
    background: #ffffff;
    border-right: 1px solid #dadada;
  }
  body.theme-metro .bottom-panel .panel-menu .sep {
    border-top: 1px solid #dadada;
  }
}
body.theme-metro .hub-menu a {
  background: #7ea700;
  color: #ffffff;
}
body.theme-metro .hub-menu a:hover {
  background: #678800;
}
body.theme-metro .k-window.dialog-popup:before {
  border-color: #dadada;
  background-color: #ffffff;
}
body.theme-metro .download-list a {
  background: #dadada;
  color: #787878;
}
body.theme-metro .download-list a:hover,
body.theme-metro .download-list a:active {
  background: #a7a7a7;
}
body.theme-metro .list-item .item-wr {
  border: 2px solid #f7f7f7;
  background: #f7f7f7;
}
body.theme-metro .list-item .active-icon {
  border-color: #7ea700 #7ea700 transparent transparent;
  /*
      svg {
        fill: @widget-text-color;
      }
*/
}
body.theme-metro .list-item:hover .item-wr,
body.theme-metro .list-item.k-state-selected .item-wr {
  border-color: #7ea700;
  color: #787878;
}
body.theme-metro .list-item:hover .item-wr .item-motifs,
body.theme-metro .list-item.k-state-selected .item-wr .item-motifs {
  color: #7ea700;
}
body.theme-metro .list-item .video-popup-btn {
  border-left-color: #787878;
}
body.theme-metro .list-item .item-name {
  background: rgba(255, 255, 255, 0.9);
}
body.theme-metro #motifs-list .item-name {
  background: none;
}
body.theme-metro .clips-timeline {
  background: #f5f5f5;
}
body.theme-metro #statistic-page .google-visualization-table-th,
body.theme-metro #statistic-page .google-visualization-table-td {
  background: #ffffff;
  border: 2px solid #dadada;
  color: #787878;
  text-align: left;
}
body.theme-metro #statistic-page .google-visualization-table-th:first-child,
body.theme-metro #statistic-page .google-visualization-table-td:first-child {
  border-left: none;
}
body.theme-metro #statistic-page .google-visualization-table-th:last-child,
body.theme-metro #statistic-page .google-visualization-table-td:last-child {
  border-right: none;
}
body.theme-metro #statistic-page .google-visualization-table-th {
  border-top: none;
}
body.theme-metro #statistic-page tr:last-child td {
  border-bottom: none;
}
body.theme-metro .search-form .clear-btn {
  color: #787878;
}
body.theme-metro input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
  -webkit-text-fill-color: #787878 !important;
}
body.theme-metro .clip-motifs-list .motif-select-item .empty-img-name {
  background: #b3b3b3;
  color: #ffffff;
}
body.theme-blackbody {
  background: #4d4d4d;
}
body.theme-black a {
  color: #1c77d2;
}
body.theme-black a:hover {
  color: #1c77d2;
}
body.theme-black .top-panel {
  /*border-bottom: 1px solid @widget-border-color;*/
  background: #4d4d4d;
}
body.theme-black .bottom-panel {
  /*border-top: 1px solid @widget-border-color;*/
  background: #4d4d4d;
}
body.theme-black .bottom-panel .sep:before {
  border-left: 1px solid #2b2b2b;
}
@media (max-width: 1024px) {
  body.theme-black .bottom-panel .panel-menu {
    background: #4d4d4d;
    border-right: 1px solid #2b2b2b;
  }
  body.theme-black .bottom-panel .panel-menu:before {
    background: #4d4d4d;
    border-right: 1px solid #2b2b2b;
  }
  body.theme-black .bottom-panel .panel-menu .sep {
    border-top: 1px solid #2b2b2b;
  }
}
body.theme-black .hub-menu a {
  background: #1c77d2;
  color: #4d4d4d;
}
body.theme-black .hub-menu a:hover {
  background: #1868b7;
}
body.theme-black .k-window.dialog-popup:before {
  border-color: #2b2b2b;
  background-color: #4d4d4d;
}
body.theme-black .download-list a {
  background: #2b2b2b;
  color: #ffffff;
}
body.theme-black .download-list a:hover,
body.theme-black .download-list a:active {
  background: #000000;
}
body.theme-black .list-item .item-wr {
  border: 2px solid #454545;
  background: #454545;
}
body.theme-black .list-item .active-icon {
  border-color: #1c77d2 #1c77d2 transparent transparent;
  /*
      svg {
        fill: @widget-text-color;
      }
*/
}
body.theme-black .list-item:hover .item-wr,
body.theme-black .list-item.k-state-selected .item-wr {
  border-color: #1c77d2;
  color: #ffffff;
}
body.theme-black .list-item:hover .item-wr .item-motifs,
body.theme-black .list-item.k-state-selected .item-wr .item-motifs {
  color: #1c77d2;
}
body.theme-black .list-item .video-popup-btn {
  border-left-color: #ffffff;
}
body.theme-black .list-item .item-name {
  background: rgba(77, 77, 77, 0.9);
}
body.theme-black #motifs-list .item-name {
  background: none;
}
body.theme-black .clips-timeline {
  background: #434343;
}
body.theme-black #statistic-page .google-visualization-table-th,
body.theme-black #statistic-page .google-visualization-table-td {
  background: #4d4d4d;
  border: 2px solid #2b2b2b;
  color: #ffffff;
  text-align: left;
}
body.theme-black #statistic-page .google-visualization-table-th:first-child,
body.theme-black #statistic-page .google-visualization-table-td:first-child {
  border-left: none;
}
body.theme-black #statistic-page .google-visualization-table-th:last-child,
body.theme-black #statistic-page .google-visualization-table-td:last-child {
  border-right: none;
}
body.theme-black #statistic-page .google-visualization-table-th {
  border-top: none;
}
body.theme-black #statistic-page tr:last-child td {
  border-bottom: none;
}
body.theme-black .search-form .clear-btn {
  color: #181818;
}
body.theme-black input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #4d4d4d inset;
  -webkit-text-fill-color: #181818 !important;
}
body.theme-black .hub-menu a {
  color: #ffffff;
}
body.theme-black .clips-timeline {
  background: #353535;
}
body.theme-black .clip-motifs-list .motif-select-item .empty-img-name {
  background: #c4c4c4;
  color: #4d4d4d;
}
body.theme-black .bottom-panel {
  background: #000000;
}
body.theme-metroblackbody {
  background: #1d1d1d;
}
body.theme-metroblack a {
  color: #df3a00;
}
body.theme-metroblack a:hover {
  color: #df3a00;
}
body.theme-metroblack .top-panel {
  /*border-bottom: 1px solid @widget-border-color;*/
  background: #1d1d1d;
}
body.theme-metroblack .bottom-panel {
  /*border-top: 1px solid @widget-border-color;*/
  background: #1d1d1d;
}
body.theme-metroblack .bottom-panel .sep:before {
  border-left: 1px solid #333333;
}
@media (max-width: 1024px) {
  body.theme-metroblack .bottom-panel .panel-menu {
    background: #1d1d1d;
    border-right: 1px solid #333333;
  }
  body.theme-metroblack .bottom-panel .panel-menu:before {
    background: #1d1d1d;
    border-right: 1px solid #333333;
  }
  body.theme-metroblack .bottom-panel .panel-menu .sep {
    border-top: 1px solid #333333;
  }
}
body.theme-metroblack .hub-menu a {
  background: #df3a00;
  color: #1d1d1d;
}
body.theme-metroblack .hub-menu a:hover {
  background: #c03200;
}
body.theme-metroblack .k-window.dialog-popup:before {
  border-color: #333333;
  background-color: #1d1d1d;
}
body.theme-metroblack .download-list a {
  background: #333333;
  color: #ffffff;
}
body.theme-metroblack .download-list a:hover,
body.theme-metroblack .download-list a:active {
  background: #000000;
}
body.theme-metroblack .list-item .item-wr {
  border: 2px solid #151515;
  background: #151515;
}
body.theme-metroblack .list-item .active-icon {
  border-color: #df3a00 #df3a00 transparent transparent;
  /*
      svg {
        fill: @widget-text-color;
      }
*/
}
body.theme-metroblack .list-item:hover .item-wr,
body.theme-metroblack .list-item.k-state-selected .item-wr {
  border-color: #df3a00;
  color: #ffffff;
}
body.theme-metroblack .list-item:hover .item-wr .item-motifs,
body.theme-metroblack .list-item.k-state-selected .item-wr .item-motifs {
  color: #df3a00;
}
body.theme-metroblack .list-item .video-popup-btn {
  border-left-color: #ffffff;
}
body.theme-metroblack .list-item .item-name {
  background: rgba(29, 29, 29, 0.9);
}
body.theme-metroblack #motifs-list .item-name {
  background: none;
}
body.theme-metroblack .clips-timeline {
  background: #131313;
}
body.theme-metroblack #statistic-page .google-visualization-table-th,
body.theme-metroblack #statistic-page .google-visualization-table-td {
  background: #1d1d1d;
  border: 2px solid #333333;
  color: #ffffff;
  text-align: left;
}
body.theme-metroblack #statistic-page .google-visualization-table-th:first-child,
body.theme-metroblack #statistic-page .google-visualization-table-td:first-child {
  border-left: none;
}
body.theme-metroblack #statistic-page .google-visualization-table-th:last-child,
body.theme-metroblack #statistic-page .google-visualization-table-td:last-child {
  border-right: none;
}
body.theme-metroblack #statistic-page .google-visualization-table-th {
  border-top: none;
}
body.theme-metroblack #statistic-page tr:last-child td {
  border-bottom: none;
}
body.theme-metroblack .search-form .clear-btn {
  color: #ffffff;
}
body.theme-metroblack input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #1d1d1d inset;
  -webkit-text-fill-color: #ffffff !important;
}
body.theme-metroblack .hub-menu a {
  color: #ffffff;
}
body.theme-metroblack .clips-timeline {
  background: #3d3d3d;
}
body.theme-metroblack .clip-motifs-list .motif-select-item .empty-img-name {
  background: #c4c4c4;
  color: #1d1d1d;
}
body.theme-metroblack .bottom-panel {
  background: #000000;
}
body.theme-highcontrastbody {
  background: #1b141a;
}
body.theme-highcontrast a {
  color: #880275;
}
body.theme-highcontrast a:hover {
  color: #880275;
}
body.theme-highcontrast .top-panel {
  /*border-bottom: 1px solid @widget-border-color;*/
  background: #1b141a;
}
body.theme-highcontrast .bottom-panel {
  /*border-top: 1px solid @widget-border-color;*/
  background: #1b141a;
}
body.theme-highcontrast .bottom-panel .sep:before {
  border-left: 1px solid #664e62;
}
@media (max-width: 1024px) {
  body.theme-highcontrast .bottom-panel .panel-menu {
    background: #1b141a;
    border-right: 1px solid #664e62;
  }
  body.theme-highcontrast .bottom-panel .panel-menu:before {
    background: #1b141a;
    border-right: 1px solid #664e62;
  }
  body.theme-highcontrast .bottom-panel .panel-menu .sep {
    border-top: 1px solid #664e62;
  }
}
body.theme-highcontrast .hub-menu a {
  background: #880275;
  color: #1b141a;
}
body.theme-highcontrast .hub-menu a:hover {
  background: #6a025b;
}
body.theme-highcontrast .k-window.dialog-popup:before {
  border-color: #664e62;
  background-color: #1b141a;
}
body.theme-highcontrast .download-list a {
  background: #664e62;
  color: #ffffff;
}
body.theme-highcontrast .download-list a:hover,
body.theme-highcontrast .download-list a:active {
  background: #2c222a;
}
body.theme-highcontrast .list-item .item-wr {
  border: 2px solid #241b22;
  background: #241b22;
}
body.theme-highcontrast .list-item .active-icon {
  border-color: #880275 #880275 transparent transparent;
  /*
      svg {
        fill: @widget-text-color;
      }
*/
}
body.theme-highcontrast .list-item:hover .item-wr,
body.theme-highcontrast .list-item.k-state-selected .item-wr {
  border-color: #880275;
  color: #ffffff;
}
body.theme-highcontrast .list-item:hover .item-wr .item-motifs,
body.theme-highcontrast .list-item.k-state-selected .item-wr .item-motifs {
  color: #880275;
}
body.theme-highcontrast .list-item .video-popup-btn {
  border-left-color: #ffffff;
}
body.theme-highcontrast .list-item .item-name {
  background: rgba(27, 20, 26, 0.9);
}
body.theme-highcontrast #motifs-list .item-name {
  background: none;
}
body.theme-highcontrast .clips-timeline {
  background: #0f0b0f;
}
body.theme-highcontrast #statistic-page .google-visualization-table-th,
body.theme-highcontrast #statistic-page .google-visualization-table-td {
  background: #1b141a;
  border: 2px solid #664e62;
  color: #ffffff;
  text-align: left;
}
body.theme-highcontrast #statistic-page .google-visualization-table-th:first-child,
body.theme-highcontrast #statistic-page .google-visualization-table-td:first-child {
  border-left: none;
}
body.theme-highcontrast #statistic-page .google-visualization-table-th:last-child,
body.theme-highcontrast #statistic-page .google-visualization-table-td:last-child {
  border-right: none;
}
body.theme-highcontrast #statistic-page .google-visualization-table-th {
  border-top: none;
}
body.theme-highcontrast #statistic-page tr:last-child td {
  border-bottom: none;
}
body.theme-highcontrast .search-form .clear-btn {
  color: #ffffff;
}
body.theme-highcontrast input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #1b141a inset;
  -webkit-text-fill-color: #ffffff !important;
}
body.theme-highcontrast .hub-menu a {
  color: #ffffff;
}
body.theme-highcontrast .clips-timeline {
  background: #72576d;
}
body.theme-highcontrast .clip-motifs-list .motif-select-item .empty-img-name {
  background: #c4c4c4;
  color: #1b141a;
}
body.theme-highcontrast .bottom-panel {
  background: #000000;
}
body.theme-moonlightbody {
  background: #212a33;
}
body.theme-moonlight a {
  color: #afafaf;
}
body.theme-moonlight a:hover {
  color: #afafaf;
}
body.theme-moonlight .top-panel {
  /*border-bottom: 1px solid @widget-border-color;*/
  background: #212a33;
}
body.theme-moonlight .bottom-panel {
  /*border-top: 1px solid @widget-border-color;*/
  background: #212a33;
}
body.theme-moonlight .bottom-panel .sep:before {
  border-left: 1px solid #171e28;
}
@media (max-width: 1024px) {
  body.theme-moonlight .bottom-panel .panel-menu {
    background: #212a33;
    border-right: 1px solid #171e28;
  }
  body.theme-moonlight .bottom-panel .panel-menu:before {
    background: #212a33;
    border-right: 1px solid #171e28;
  }
  body.theme-moonlight .bottom-panel .panel-menu .sep {
    border-top: 1px solid #171e28;
  }
}
body.theme-moonlight .hub-menu a {
  background: #afafaf;
  color: #212a33;
}
body.theme-moonlight .hub-menu a:hover {
  background: #a0a0a0;
}
body.theme-moonlight .k-window.dialog-popup:before {
  border-color: #171e28;
  background-color: #212a33;
}
body.theme-moonlight .download-list a {
  background: #171e28;
  color: #ffffff;
}
body.theme-moonlight .download-list a:hover,
body.theme-moonlight .download-list a:active {
  background: #000000;
}
body.theme-moonlight .list-item .item-wr {
  border: 2px solid #27323c;
  background: #27323c;
}
body.theme-moonlight .list-item .active-icon {
  border-color: #afafaf #afafaf transparent transparent;
  /*
      svg {
        fill: @widget-text-color;
      }
*/
}
body.theme-moonlight .list-item:hover .item-wr,
body.theme-moonlight .list-item.k-state-selected .item-wr {
  border-color: #afafaf;
  color: #ffffff;
}
body.theme-moonlight .list-item:hover .item-wr .item-motifs,
body.theme-moonlight .list-item.k-state-selected .item-wr .item-motifs {
  color: #afafaf;
}
body.theme-moonlight .list-item .video-popup-btn {
  border-left-color: #ffffff;
}
body.theme-moonlight .list-item .item-name {
  background: rgba(33, 42, 51, 0.9);
}
body.theme-moonlight #motifs-list .item-name {
  background: none;
}
body.theme-moonlight .clips-timeline {
  background: #192027;
}
body.theme-moonlight #statistic-page .google-visualization-table-th,
body.theme-moonlight #statistic-page .google-visualization-table-td {
  background: #212a33;
  border: 2px solid #171e28;
  color: #ffffff;
  text-align: left;
}
body.theme-moonlight #statistic-page .google-visualization-table-th:first-child,
body.theme-moonlight #statistic-page .google-visualization-table-td:first-child {
  border-left: none;
}
body.theme-moonlight #statistic-page .google-visualization-table-th:last-child,
body.theme-moonlight #statistic-page .google-visualization-table-td:last-child {
  border-right: none;
}
body.theme-moonlight #statistic-page .google-visualization-table-th {
  border-top: none;
}
body.theme-moonlight #statistic-page tr:last-child td {
  border-bottom: none;
}
body.theme-moonlight .search-form .clear-btn {
  color: #232a32;
}
body.theme-moonlight input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #212a33 inset;
  -webkit-text-fill-color: #232a32 !important;
}
body.theme-moonlight .clips-timeline {
  background: #1e2835;
}
body.theme-moonlight .clip-motifs-list .motif-select-item .empty-img-name {
  background: #c4c4c4;
  color: #212a33;
}
body.theme-moonlight .bottom-panel {
  background: #000000;
}
body.theme-flat {
  /*  .list-item {
    .active-icon svg {
      fill: @widget-background-color;
    }
  }*/
}
body.theme-flatbody {
  background: #ffffff;
}
body.theme-flat a {
  color: #10c4b2;
}
body.theme-flat a:hover {
  color: #10c4b2;
}
body.theme-flat .top-panel {
  /*border-bottom: 1px solid @widget-border-color;*/
  background: #ffffff;
}
body.theme-flat .bottom-panel {
  /*border-top: 1px solid @widget-border-color;*/
  background: #ffffff;
}
body.theme-flat .bottom-panel .sep:before {
  border-left: 1px solid #cdcdcd;
}
@media (max-width: 1024px) {
  body.theme-flat .bottom-panel .panel-menu {
    background: #ffffff;
    border-right: 1px solid #cdcdcd;
  }
  body.theme-flat .bottom-panel .panel-menu:before {
    background: #ffffff;
    border-right: 1px solid #cdcdcd;
  }
  body.theme-flat .bottom-panel .panel-menu .sep {
    border-top: 1px solid #cdcdcd;
  }
}
body.theme-flat .hub-menu a {
  background: #10c4b2;
  color: #ffffff;
}
body.theme-flat .hub-menu a:hover {
  background: #0ea898;
}
body.theme-flat .k-window.dialog-popup:before {
  border-color: #cdcdcd;
  background-color: #ffffff;
}
body.theme-flat .download-list a {
  background: #cdcdcd;
  color: #4c5356;
}
body.theme-flat .download-list a:hover,
body.theme-flat .download-list a:active {
  background: #9a9a9a;
}
body.theme-flat .list-item .item-wr {
  border: 2px solid #f7f7f7;
  background: #f7f7f7;
}
body.theme-flat .list-item .active-icon {
  border-color: #10c4b2 #10c4b2 transparent transparent;
  /*
      svg {
        fill: @widget-text-color;
      }
*/
}
body.theme-flat .list-item:hover .item-wr,
body.theme-flat .list-item.k-state-selected .item-wr {
  border-color: #10c4b2;
  color: #4c5356;
}
body.theme-flat .list-item:hover .item-wr .item-motifs,
body.theme-flat .list-item.k-state-selected .item-wr .item-motifs {
  color: #10c4b2;
}
body.theme-flat .list-item .video-popup-btn {
  border-left-color: #4c5356;
}
body.theme-flat .list-item .item-name {
  background: rgba(255, 255, 255, 0.9);
}
body.theme-flat #motifs-list .item-name {
  background: none;
}
body.theme-flat .clips-timeline {
  background: #f5f5f5;
}
body.theme-flat #statistic-page .google-visualization-table-th,
body.theme-flat #statistic-page .google-visualization-table-td {
  background: #ffffff;
  border: 2px solid #cdcdcd;
  color: #4c5356;
  text-align: left;
}
body.theme-flat #statistic-page .google-visualization-table-th:first-child,
body.theme-flat #statistic-page .google-visualization-table-td:first-child {
  border-left: none;
}
body.theme-flat #statistic-page .google-visualization-table-th:last-child,
body.theme-flat #statistic-page .google-visualization-table-td:last-child {
  border-right: none;
}
body.theme-flat #statistic-page .google-visualization-table-th {
  border-top: none;
}
body.theme-flat #statistic-page tr:last-child td {
  border-bottom: none;
}
body.theme-flat .search-form .clear-btn {
  color: #4c5356;
}
body.theme-flat input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
  -webkit-text-fill-color: #4c5356 !important;
}
body.theme-flat .clip-motifs-list .motif-select-item .empty-img-name {
  background: #858e93;
  color: #ffffff;
}
